@font-face {
	font-family: Roboto;
	font-display: swap;
	src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: ButtercupSample;
	font-display: swap;
	src: url("../fonts/ButtercupSample.woff2") format("woff2"), url("../fonts/ButtercupSample.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Roboto;
	font-display: swap;
	src: url("../fonts/Roboto-Thin-Italic.woff2") format("woff2"), url("../fonts/Roboto-Thin-Italic.woff") format("woff");
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: Roboto;
	font-display: swap;
	src: url("../fonts/Roboto-Thin.woff2") format("woff2"), url("../fonts/Roboto-Thin.woff") format("woff");
	font-weight: 100;
	font-style: normal;
}
